<div class="span4">
	<div class="well">
		<h1>Register a new user</h1><br/>
		<%= render 'form' %>
	</div>

	<div class="row">
	  <div class="span4">
	    <ul class="breadcrumb">
	      <li>
	      	<a href="#"><%= link_to 'Home', root_path %></a>
	      </li>
	    </ul>
	  </div>
	</div>

</div>
	
	


	
