<div class="row" style="font-size:medium">
  <div class="span7 offset1">
    <ul class="breadcrumb">
      <li>
      	<a href="#"><%= link_to 'Home', root_path %></a>
      </li>
    </ul>
  </div>
</div>

