<%= render 'form', :title => "Editing post", :submittitle => "Update post" %>

<div class="row">
  <div class="span7 offset1">
    <ul class="breadcrumb">
      <li>
      	<a href="#">
      		<%= link_to 'Show', @post %>
      	</a>
      	<span class="divider">/</span>
      	<a href="#">
      		<%= link_to 'Back to profile', user_path(@post.user) %>
      	</a>
      </li>
    </ul>
  </div>
</div>


