<div class="span2 offset1">
	<legend>
		<h1>All posts</h1>
	</legend>
	<% if logged_in? %>
		<ul class="breadcrumb" style="text-align:center">
		    <li>
		    	<a href="#"><%= link_to 'New Post', new_post_path if logged_in? %></a>
		    </li>
		</ul>
	<% end %>
</div>

<%= render 'shared/posts', posts: @posts %>








