<%= render 'form', :title => "Create a new post" %>

<div class="row">
  <div class="span7 offset1">
    <ul class="breadcrumb">
      <li>
      	<a href="#"><%= link_to 'Back', root_path %></a>
      </li>
    </ul>
  </div>
</div>


